* {
	font-family: 'IBM Plex Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  padding-top: 9vh;
}

nav {
	display: flex;
	align-items: center;
  justify-content: space-between;
  height: 9vh;
  width: 100vw;
  position: fixed;
  background-color: #7BA597;
  border-bottom: 2px solid #EEF0F2;
}

nav h1{
  color: #EEF0F2;
  font-size: 3vw;
  margin-left: auto;
}

.menu-icon {
  width: 2vw;
  /* position: relative; */
  cursor: pointer;
  margin-left: auto;
  margin-right: 1%;
}


.bar {
  width: 100%;
  height: 6px;
  background-color: #EEF0F2;
  margin: 6px 0;
  transition: 0.4s;
}

.bar:hover {
  background-color: #FFF;
}

.menu-icon.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-7px, 10px);
}

.menu-icon.active .bar:nth-child(2) {
  opacity: 0;
}

.menu-icon.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-7px, -10px);
}

.searchbar {
  margin-bottom: 100px;
  width: 100vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#searchbar {
  width: 40vw;
  height: 6vh;
  background-color: transparent;
  padding: 8px;
  padding-left: 75px;
  background: url('/icons/Magnifer.svg') no-repeat;
  border: 6px solid hsl(210, 13%, 94%);
  font-size: 4vh;
  color: #eef0f2;
  caret-color: #eef0f2;
}

#searchbar:focus {
  outline: none;
  border: 6px solid #ffffff;
}

 /* width */
 ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
} 