* {
	font-family: 'IBM Plex Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

nav {
	display: flex;
	align-items: center;
  justify-content: space-between;
  background-color: transparent;
  height: 9vh;
  width: 100vw;
  position: fixed;
}

nav h1{
  color: #EEF0F2;
  font-size: 3vw;
  margin-left: auto;
}

.menu-icon {
  width: 2vw;
  /* position: relative; */
  cursor: pointer;
  margin-left: auto;
  margin-right: 1%;
}


.bar {
  width: 100%;
  height: 6px;
  background-color: #EEF0F2;
  margin: 6px 0;
  transition: 0.4s;
}

.bar:hover {
  background-color: #FFF;
}

.menu-icon.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-7px, 10px);
}

.menu-icon.active .bar:nth-child(2) {
  opacity: 0;
}

.menu-icon.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-7px, -10px);
}

.splash {
	background-color: #7BA597;
	width: 100vw;
	height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  margin: 0;
  padding: 0;
}

.catch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catch p {
  font-size: 1.5vw;
  font-weight: bold;
  margin: 0 auto;
  color: #EEF0F2;
}

.searchbar {
  margin-bottom: 100px;
  width: 100vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#searchbar {
  width: 40vw;
  height: 6vh;
  background-color: transparent;
  padding: 8px;
  padding-left: 75px;
  background: url('/icons/Magnifer.svg') no-repeat;
  border: 6px solid hsl(210, 13%, 94%);
  font-size: 4vh;
  color: #eef0f2;
  caret-color: #eef0f2;
}

#searchbar:focus {
  outline: none;
  border: 6px solid #ffffff;
}

.top_books {
  font-weight: bold;
  font-size: 1.5vw;
  color: #EEF0F2;
  margin-right: auto;

  width: 100vw;
  /* border: 1px solid red; */
}

.top_books p {
  padding-left: 1%;
}

.scrolling_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  height: 30vh;
  width: 100vw;
}

.card {
  width: 9.5vw;
  margin: 7px 15px;
  height: 250px;
  background-color: #EEF0F2;
  border: 1px solid red;
}

.orange {
	background-color: #F0B571;
	width: 100vw;
	height: 100vh;
  margin: 0;
  padding: 0;
  border: 1px solid #F0B571;
}

.disclaimer {
  border: 1px solid red;
  bottom: 0;
  color: #EEF0F2;
  font-weight: bold;
  font-size: 2vw;
  text-align: left;
}



